# flyctl launch added from .gitignore
**\node_modules
**\*.exe
**\*.exe~
**\*.dll
**\*.so
**\*.dylib
**\*.test
**\*.out
**\go.work

**\.DS_Store
**\._.DS_Store
**\**\.DS_Store
**\**\._.DS_Store

fly.toml
