:root {
  --spacing: 16px;
  --spacing-2x: calc(var(--spacing) * 2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-weight: 300;
  min-height: 100vh;
  line-height: 1.5;
  list-style-type: none;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80vw;
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
}

/* index.html */

.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  position: relative;
}


.description {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.posts {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}


/* header.html */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: space-between;
}

.title {
  text-decoration: none;
  color: inherit;

  :hover {
    text-decoration: underline;
  }
}

.title h1 {
  font-size: 1.75rem;
}




/* navbar.html */
.navbar ul {
  display: flex;
  gap: var(--spacing);
}

.navbar ul li {
  list-style-type: none;
  display: inline;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  width: 100%;
}

pre { 
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
  overflow: auto;
}

 p img {
  width: 100%;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  body {
    width: 40vw;
  }
}