{{ template "header.html" (dict "Title" "Books") }}

<body>
  <div class="container">
    {{ template "navbar.html" }}

    <h2>Books</h2>
    <section class="description">
      <p>This is a list of book that I've read.</p>
    </section>

    <section class="books">
      <div class="book">
        <h3>[EN] Learning Go: An Idiomatic Approach to Real-World Go Programming </h3>
        <div class="book-profile">
          <img src="/static/images/book_3.jpg" alt="Book Cover">

          <div class="book-description">
            <p>Read at: <strong>now</strong></p>
            <p>
              I reading this book right now, wait for my review. :)
            </p>
            <a href="https://amzn.to/40bTLNw" target="_blank">Purchase Link</a></a>
          </div>
        </div>


      </div>

      <div class="book">
        <h3>[BR] O Programador Pragmático: De Aprendiz a Mestre</h3>
        <div class="book-profile">
          <img src="/static/images/book_2.jpg" alt="Book Cover">

          <div class="book-description">
            <p>Read at: December 22, 2024</p>
            <p>Rating: 10/10</p>
            <p>
              This book is much more than just a "programming" book, it's a book about how to become a good professional
              in any jobs area. Many tips I've applied in my professional/personal life, such as managing time,
              negotiating "tech debts", always documenting your code, testing your code, fixing "break windows", etc.
              This is an AMAZING book for anyone, I recommend it for everyone.
            </p>
            <a href="https://amzn.to/400V95K" target="_blank">Purchase Link</a></a>
          </div>
        </div>
      </div>

      <div class="book">
        <h3>[BR] Entendendo Algoritmos: Um Guia Ilustrado Para Programadores e Outros Curiosos</h3>
        <div class="book-profile" alt="Imagem do Livro Entendendo Algoritmos">
          <img src="/static/images//book_1.jpg" alt="Book Cover">

          <div class="book-description">
            <p>Read at: December 07, 2024</p>
            <p>Rating: 9/10 </p>

            <p>This is the best book I've ever read on algorithms. Before reading this book, I had no
              many ideas about DSA (Data Structures and Algorithms) and this book has helped me a lot, but I still have
              a
              lot to learn. It's definitely a must-read.
            </p>

            <a href="https://amzn.to/3DKjOnD" target="_blank">Purchase Link</a>
          </div>

        </div>
      </div>

    </section>
  </div>
</body>